header.masthead#page-top
  .container
    .masthead-subheading Bienvenido a Red de Bicicletas!
    .masthead-heading.text-uppercase Comunidad online de ciclistas urbanos
    a.btn.btn-primary.btn-xl.text-uppercase.js-scroll-trigger(href='#services') Tell Me More
