.row.align-items-stretch.mb-5
  .col-md-4
    .form-group
      input#id.form-control(name='id' type='text' placeholder='Tu id *' required='required' data-validation-required-message='Porfavor ingrese su id.')
      p.help-block.text-danger
  .col-md-4
    .form-group
      input#color.form-control(name='color' type='text' placeholder='Tu color *' required='required' data-validation-required-message='Por favor ingrese su color.')
      p.help-block.text-danger
  .col-md-4
    .form-group.mb-md-0
      input#modelo.form-control(name='modelo' type='text' placeholder='Tu modelo *' required='required' data-validation-required-message='Por favor ingrese su modelo.')
      p.help-block.text-danger
  .col-md-6
    .form-group.mb-md-0
      input#lat.form-control(name='lat' type='text' placeholder='Tu latitud del mapa *' required='required' data-validation-required-message='Porfavor ingrese una latitud del mapa.')
      p.help-block.text-danger
  .col-md-6
    .form-group.mb-md-0
      input#lng.form-control(name='lng' type='text' placeholder='Tu longitud del mapa *' required='required' data-validation-required-message='Porfavor ingrese una longitud del mapa.')
      p.help-block.text-danger
  

